{% extends "index_main.html" %}

{% block title%} Contact {% endblock title %}


{% block body_content %}

<div class="cont" >
    <div class="row">
        <div class="way col-md-6 col-lg-6 col-xxl-6 col-sm-12 col-xm-12 ">
            <h1>make a bank account <br><span>online</span> </h1>
            <h2>
                This is About us page
            </h2>
            <button class="btn btn-dark">get started App</button>
        </div>
        <div class="col-md-6 col-lg-6 col-xxl-6 col-sm-12 col-xm-12">
            <h1></h1>
        </div>
    </div>
</div>

{% endblock body_content %}



